{% extends 'base.html' %}
{% block content %}
<h1>add stock...</h1>
<br>
<form action="{% url 'addstock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2 " type="search" placeholder=" Stock Qoutes" aria-label="Search" name="ticker">
    <button class="btn btn-primary my-2 my-sm-0 " type="submit">Add Stock</button>
</form>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-10">
            <table class="table table-bordered table-hover">
                <thead class="thead-primary bg-primary">
                    <tr>
                        <th scope="col">Comapany Name</th>
                        <th scope="col">Stock Price</th>
                        <th scope="col">Previous Close</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">YTD Change</th>
                        <th scope="col">52 WK High</th>
                        <th scope="col">52 WK Low</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ticker %}
                    {% for list_item in output %}
                    <tr>
                        <th scope="row">{{ list_item.companyName }}</th>
                        <td> ${{ list_item.latestPrice }}</td>
                        <td>{{ list_item.previousClose }}</td>
                        <td>{{ list_item.marketCap }}</td>
                        <td>{{ list_item.ytdChange }}</td>
                        <td>{{ list_item.week52High }}</td>
                        <td>{{ list_item.week52Low }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <table class="table table-bordered table-hover">
                <thead class="thead-primary bg-primary">
                    <tr>
                        <th scope="col">Delete Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ticker %}
                    {% for item in ticker %}
                    <tr>
                        <td><a href="{% url 'delete' item.id %}"><button class="btn btn-primary ">Delete {{ item }}</button></a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% comment %}
{% url 'delete' item.id %}
{% endcomment %}